npm-debug.log
.DS_Store

*.js.map
vendor*.ts
**/*.js
!tools/*.js
**/*.css
hooks/
lib/
node_modules/
platforms/
tmp/
typings/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
.cloud
/.project