<ns-action-bar showAboutButton="true" title="Ordinances"></ns-action-bar>
<StackLayout class="container">
    <ScrollView>
        <StackLayout>
            <Button class="btn ordinance-btn" text="Sacrament" [nsRouterLink]="['/sacrament']"></Button>
            <Button class="btn ordinance-btn" text="Baptism" [nsRouterLink]="['/baptism']"></Button>
            <Button class="btn ordinance-btn" text="Confirmation" [nsRouterLink]="['/confirmation']"></Button>
            <Button class="btn ordinance-btn" text="Giving a priesthood blessing" [nsRouterLink]="['/blessing']"></Button>
            <Button class="btn ordinance-btn" text="Consecrating oil" [nsRouterLink]="['/consecrate-oil']"></Button>
            <Button class="btn ordinance-btn" text="Administering to the sick" [nsRouterLink]="['/administer-to-sick']"></Button>
            <Button class="btn ordinance-btn" text="Naming and blessing children" [nsRouterLink]="['/baby-blessing']"></Button>
            <Button class="btn ordinance-btn" text="Conferring the priesthood and ordaining to priesthood offices" [nsRouterLink]="['/confer']" textWrap="true"></Button>
            <Button class="btn ordinance-btn" text="Dedicating a grave" [nsRouterLink]="['/grave']"></Button>
        </StackLayout>
    </ScrollView>
</StackLayout>
