<ns-ordinance [title]="'Administering to the sick'">
    <Label class="subheader" text="Anointing with oil" textWrap="true"></Label>
    <Label class="instruction" text="Put a drop of consecrated oil on the person's head" textWrap="true"></Label>
    <Label class="instruction" text="Place your hands lightly on the person's head" textWrap="true"></Label>
    <Label class="instruction" text="Call the person by his or her full name" textWrap="true"></Label>
    <Label class="instruction" text="State that you are anointing the person by the authority of the Melchizedek Priesthood" textWrap="true"></Label>
    <Label class="instruction" text="State that you are anointing with oil that has been consecrated for anointing and blessing the sick and afflicted" textWrap="true"></Label>
    <Label class="instruction" text="Close in the name of Jesus Christ" textWrap="true"></Label>

    <Label class="subheader" text="Sealing the anointing" textWrap="true"></Label>
    <Label class="instruction" text="Call the person by his or her full name" textWrap="true"></Label>
    <Label class="instruction" text="State that you are sealing the anointing by the authority of the Melchizedek Priesthood" textWrap="true"></Label>
    <Label class="instruction" text="Give a blessing as the Spirit directs" textWrap="true"></Label>
    <Label class="instruction" text="Close in the name of Jesus Christ" textWrap="true"></Label>
    <Label class="detail" text=""></Label>
</ns-ordinance>