<ns-action-bar></ns-action-bar>
<StackLayout>
    <Label class="header container" text="Consecrating oil"></Label>
    <ScrollView>
        <StackLayout class="container">
            <Label class="instruction" text="Hold an open container of olive oil" textWrap="true"></Label>
            <Label class="instruction" text="Address our Heavenly Father" textWrap="true"></Label>
            <Label class="instruction" text="State that you are acting by the authority of the Melchizedek Priesthood" textWrap="true"></Label>
            <Label class="instruction" text="Consecrate the oil (not the container) and set it apart for anointing the sick and afflicted" textWrap="true"></Label>
            <Label class="instruction" text="Close in the name of Jesus Christ" textWrap="true"></Label>
            <Label class="detail" text=""></Label>
        </StackLayout>
    </ScrollView>
</StackLayout>
