<ns-ordinance [title]="'Baptism'">
    <Label class="instruction" text="State the individual's full name" textWrap="true"></Label>
    <Label class="instruction" text="Repeat the following words:" textWrap="true"></Label>
    <Label class="scripture" text="Having been commissioned of Jesus Christ, I baptize you in the name of the Father, and of the Son, and of the Holy Ghost. Amen."
        textWrap="true"></Label>
    <Label class="detail" text="See Doctrine & Covenants 20:73"></Label>
</ns-ordinance>