<ns-ordinance [title]="'Giving a priesthood blessing'">
    <Label class="instruction" text="State the person's full name" textWrap="true"></Label>
    <Label class="instruction" text="State that you are giving a blessing by the authority of the Melchizedek Priesthood" textWrap="true"></Label>
    <Label class="instruction" text="Give a blessing as the Spirit directs" textWrap="true"></Label>
    <Label class="instruction" text="Close in the name of Jesus Christ" textWrap="true"></Label>
    <Label class="detail" text=""></Label>
</ns-ordinance>