<ns-ordinance [title]="'Conferring the priesthood and ordaining to priesthood offices'">
    <Label class="instruction" text="Call the person by his full name" textWrap="true"></Label>
    <Label class="instruction" text="State the authority (Aaronic or Melchizedek Priesthood) by which the ordination is being performed" textWrap="true"></Label>
    <Label class="instruction" text="Confer the Aaronic or Melchizedek Priesthood, unless it has been conferred earlier" textWrap="true"></Label>
    <Label class="instruction" text="Ordain the person to an office in the Aaronic or Melchizedek Priesthood and bestow the rights, powers, and authority of that office" textWrap="true"></Label>
    <Label class="instruction" text="Give a blessing as the Spirit directs" textWrap="true"></Label>
    <Label class="instruction" text="Close in the name of Jesus Christ" textWrap="true"></Label>
    <Label class="detail" text=""></Label>
</ns-ordinance>